@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: lightblue;
}

.buttons {
  display: flex;
  justify-content: center;
}

.play-buttons {
  margin-right: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 80px;
}

.paper-button {
  margin-right: 5px;
  margin-left: 5px;
}

.scores {
  display: flex;
  justify-content: space-evenly;
}